body {
  color:#40514E;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}
h1  {
color: #66BFBF;
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;

}
h3{
  color: #11999E;
}
h2  {
color: #66BFBF;
  font-size: 2.5rem;
padding-bottom:  10px;

}
hr{
    border: dotted #EAF6F6;
    border-bottom: none;
    width:4%;
    margin: 100px auto;

  }

p{
  line-height: 2;
 }

 a{
   color:  #66BFBF;
   font-family:'Roboto', sans-serif;
  margin:10px 20px;
  text-decoration: none;
 }

a:hover{
  color:#EAF6F6;
}


.skill-row{
  width:50%;
  margin:100px auto ;
  text-align: left;
  line-height: 2;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  background-color: #11999E;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    padding: 50px;

}
.pro{
text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom:300px;

}
.intro{
  width:30%;
  margin: auto;
}
.mypicture{
  border-radius: 50%;
  width:150px;
}
.write{
  border-radius: 100%;
  width:150px;
  float: left;
  padding: 30px;
}
.teach{
  border-radius: 100%;
  width:150px;
  float: right;
  padding: 30px;
}
.copyright{
color: #EAF6F6;
padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	font-size:13px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}
